:root{
    --mainColor: rgb(41, 36, 36);
    --secondaryColor: rgb(255, 174, 0);
    --secondaryLightColor: rgb(255, 208, 106);
    --mainSupportiveColor: rgb(0, 0, 0);
    --secondarySupportiveColor: rgb(235, 235, 235);
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: var(--secondarySupportiveColor); */
}

.rounded{
    border-radius: 10px;
}

.containerMain{
    display: grid;
    width: 100%;
    height: 150vh;
    grid-template-areas: 
    "header header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "footer footer footer footer footer";
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr 1fr 2fr 1fr 10vh;
}

.header{
    top: 0;
    grid-area: header;
    background-color: var(--mainColor);
    position: sticky;
}

.headerContent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    background-color: red;
    height: 80px;
    width: 80px
}

.searchBar > .searchButton{
    outline: none;
    border: 1px solid var(--secondarySupportiveColor);
    background-color: var(--secondaryColor);
}
.searchBar > .searchButton:active{
    background-color: var(--secondaryLightColor);
}

.searchInput{
    width: 200px;
}

.searchTip{
    overflow-x: hidden;
    overflow-y: auto;
    min-height: min-content;
    max-height: 30vh;
    width: 200px;
    border: 1px solid black;
    border-top-style: none;
    background-color: var(--secondarySupportiveColor);
    color: black;
    position: absolute;
    display: none;
    flex-direction: column;
}

.searchTip.show{
    display: flex;
}

.searchTip > *{
    margin: 0;
    padding: 10px;
}

.searchTip > *:hover{
    cursor: pointer;
    background-color: white;
}

.langContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.langImgContainer{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.smallNav{
    background-color: var(--mainSupportiveColor);
    height: 3vh;
    width: 100%;
}

.navBar{
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
    margin-top: 3vh;
    background-color: var(--secondaryColor);
    grid-area: navbar;
    display: flex;
    flex-direction: column;
}

.navBar > *{
    align-self: flex-start;
    margin-left: 10px;
}

.navBar a, .navBar a:link, .navBar a:visited{
    text-decoration-color: rgba(255, 255, 255, 0);
    text-underline-offset: 2px;
    color: white;
    transition: 300ms ease-in-out;
    transition-property: text-decoration-color;
}

.navBar > ul{
    list-style-type: circle;
}

.navBar a:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
}

.main{
    margin-top: 3vh;
    grid-area: main;
    background-color: var(--secondarySupportiveColor);
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--mainSupportiveColor);
}

.footer a, .footer a:link, .footer.visited{
    color: var(--secondaryLightColor);
}