:root{
    --mainColor: #1F1926;
    --secondaryColor: #16121b;
    --supportiveColor: #BBA1D4;
    --mainGradient: linear-gradient(to right bottom, #645176, #624b7a, #60447f, #5e3d83, #5b3687, #552f82, #4f277d, #492078, #3f176a, #350f5c, #2b064e, #210041);
    --secondaryGradient: linear-gradient(to left top, #8f77a4, #8569a0, #7b5b9b, #714d97, #663f92, #5a3586, #4e2c7b, #42236f, #331c59, #251644, #190f30, #0f001d);
    --mainDark: #382A46;
    --mainLight: rgb(241, 239, 232);
    --secondaryFontColor: #210041;
    --mainCubicBezier: cubic-bezier(.17,.93,.53,.99);
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: white;
}

.rounded{
    border-radius: 10px;
}

.containerMain{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr 1fr 2fr 1fr 10vh;
}

.header{
    top: 0;
    grid-area: header;
    background-color: var(--mainColor);
    position: sticky;
}

.headerContent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    background-color: red;
    height: 80px;
    width: 80px
}

.searchInput{
    width: 200px;
    background-color: var(--mainLight);
}

.langContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.langImgContainer{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.smallNav{
    background-color: var(--mainDark);
    height: 3vh;
    width: 100%;
}

.main{
    border: 7px solid transparent;
    background-color: var(--secondaryColor);
    margin-top: 3vh;
    grid-area: main;
    background-image: linear-gradient(var(--secondaryColor), var(--secondaryColor)), 
    var(--mainGradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--mainColor);
}

.footer a, .footer a:link, .footer.visited{
    color: var(--mainLight);
    transition: color 300ms var(--mainCubicBezier);
}

.footer a:hover{
    color: var(--supportiveColor);
}